 @model Expediente.Models.Fisico

 
@using (Html.BeginForm("Delete", "Fisicos", FormMethod.Post, new { @id = "FormularioDelete", @name = "FormularioDelete" }))
{
    <div class="container  border bordered pb-4 w-75">
         <div class="row border bordered p-2  align-items-baseline bg-light ">
             <div class="col text-start">
                 <a asp-action="index" asp-controller="Fisicos" class="btn btn-primary btn-sm">
                     <i class="fa-solid fa-circle-arrow-left"></i>
                     Regresar
                 </a>
             </div>
             <div class="col text-center">
                 <!--Titulo Formulario-->
                 <h3>Eliminar Cliente Físico</h3>
             </div>
             <div class="col">
             </div>
         </div>

        <!--Campos del Formulario  ( Tipo Identificacion y Cedula-->
        <div class="row justify-content-around mb-4 pt-4">
            <div class="col-3 ms-1">
                @Html.LabelFor(model => model.Tipo_Identificacion)
                @Html.DropDownListFor(model => model.Tipo_Identificacion, new SelectList((IEnumerable<string>)ViewBag.TiposID), "-- Seleccione --",
                         new { @class = "form-control", disabled = "disabled" })
              


            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.Identificacion)
                @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control", @id = "Identificacion", disabled = "disabled" } })
              
            </div>
            <div class="col-3"></div>
        </div>
        <!-- Nombre | 1° Apellido | 2° Apellido -->

        <div class="row mb-4  justify-content-around">
            <div class="col-3  ">
                @Html.LabelFor(model => model.Nombre)
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.PrimerApellido)
                @Html.EditorFor(model => model.PrimerApellido, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.SegundoApellido)
                @Html.EditorFor(model => model.SegundoApellido, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.PrimerApellido, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- Fecha Nacimiento | Sexo | Genero -->
        <div class="row mb-4   justify-content-around">
            <div class="col-3">
                @Html.LabelFor(model => model.FechaNacimiento)
                @Html.EditorFor(model => model.FechaNacimiento, new { htmlAttributes = new { @class = "form-control", @type = "date", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.FechaNacimiento, "", new { @class = "text-danger" })
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.Sexo)
                @Html.DropDownListFor(model => model.Sexo, new SelectList((IEnumerable<string>)ViewBag.Generos), "-- Seleccione --",
                         new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Sexo, "", new { @class = "text-danger" })
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.EstadoCivil)
                @Html.DropDownListFor(model => model.EstadoCivil, new SelectList((IEnumerable<string>)ViewBag.Civil), "-- Seleccione --",
                         new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.EstadoCivil, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- Estado Civil | Ocupacion | Nacionalidad -->
        <div class="row mb-4 justify-content-around">
            <div class="col-3">
                @Html.LabelFor(model => model.CasadoVeces)
                @Html.EditorFor(model => model.CasadoVeces, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.CasadoVeces, "", new { @class = "text-danger" })
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.Ocupacion)
                @Html.EditorFor(model => model.Ocupacion, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.Ocupacion, "", new { @class = "text-danger" })
            </div>
            <div class="col-3">
                @Html.LabelFor(model => model.Nacionalidad)
                @Html.DropDownListFor(model => model.Nacionalidad, new SelectList((IEnumerable<string>)ViewBag.Nacionalidades), "-- Seleccione --",
                         new { @class = "form-control", disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Nacionalidad, "", new { @class = "text-danger" })
            </div>
        </div>

        <!--Botton-->
        <div class="row">
            <div class="col-12 text-center">
                <input type="submit" value="Eliminar Registro" class="btn btn-danger btn-md mt-3" />
            </div>
        </div>

   </div>
}