@model IEnumerable<Expediente.Models.Fisico>
@{
    ViewBag.Title = "Clientes Físicos";

    <div class="card w-100 h-100">
        <div class="row m-0 card-header d-flex justify-content-event align-items-center">
            <div class="col text-start">
                <a asp-action="Create" asp-controller="Fisicos" class="fw-bold btn-sm btn btn-primary">Crear Fisico</a>
            </div>
            <div class="col text-center">
                <h4 class="card-title text-center">@ViewBag.Title</h4>
            </div>
            <div class="col text-end">
                <div class="row justify-content-end align-items-center text-end">
                    <div class="col text-end">
                        <a class="fw-bold btn-sm btn btn-primary" title="Refrescar Pantalla" id="Botton_Refrescar">
                            <i class="fa-solid fa-repeat"></i>
                        </a>
                        <a class="fw-bold btn-sm btn btn-primary" title="Limpiar Pantalla" id="Botton_Limpiar">
                            <i class="fa-solid fa-broom"></i>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
       
        <div class="card-body">
            <div class="row ">
                
                <div class="col-12 mb-2">
                    <div class="row justify-content-start d-flex   align-items-center">
                        <div class="col-3">
                            <div class="input-group input-group-sm flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping"># Identificacion</span>
                                <input id="Identificacion_txt" type="text" class="form-control" autocomplete="off" aria-label="Idenfitifcacion" aria-describedby="addon-wrapping">
                           </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group input-group-sm flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">Nombre</span>
                                <input id="Nombre_txt" type="text" class="form-control" autocomplete="off" aria-label="Nombre" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group input-group-sm flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">1° Apellido</span>
                                <input id="PrimerApellido_txt" type="text" class="form-control" aria-label="1° Apellido" autocomplete="off" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="input-group input-group-sm flex-nowrap">
                                <span class="input-group-text" id="addon-wrapping">2° Apellido</span>
                                <input id="SegundoApellido_txt" type="text" class="form-control" aria-label="1° Apellido" autocomplete="off" aria-describedby="addon-wrapping">
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!--Tablas-->
            <!-- Agrega aquí funcionalidades de búsqueda o filtrado -->
            <table id="Tabla_Clientes_Fisicos" class="table table-sm table-hover table-responsive table-bordered">
                <thead>
                    <tr>
                        <th>Identificacion</th>
                        <th>Nombre</th>
                        <th>1° Apellido</th>
                        <th>2° Apellido</th>
                        <th>Fecha Nacimiento</th>
                        <th>@Html.DisplayNameFor(model => model.Sexo)</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="justify-content-center align-baseline">
                            <td>@Html.DisplayFor(modelItem => item.Identificacion)</td>
                            <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                            <td>@Html.DisplayFor(modelItem => item.PrimerApellido)</td>
                            <td>@Html.DisplayFor(modelItem => item.SegundoApellido)</td>
                            <td class="justify-content-center align-content-center">@Html.DisplayFor(modelItem => item.FechaNacimiento)</td>
                            <td>@Html.DisplayFor(modelItem => item.Sexo)</td>
                            <td justify-content-center align="center">
                                <a href="@Url.Action("Edit", new { id = item.Id })" class="btn btn-success btn-icon fa-sm" title="Editar">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="@Url.Action("Details", new { id = item.Id })" class="btn btn-info btn-icon fa-sm" title="Detalles">
                                    <i class="fas fa-info-circle"></i>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.Id })" class="btn btn-danger btn-icon fa-sm" title="Eliminar" onclick="return confirm('¿Estás seguro de querer eliminar este registro?');">
                                    <i class="fas fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            
        </div>
        <div class="card-footer h-75 shadow-sm">
            <h6 class="text-center">-</h6>
        </div>
    </div>

   



}

<!-- Aquí puedes agregar la paginación -->
<!-- Incluir scripts de JavaScript para funcionalidades adicionales si es necesario -->




    

   

